@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'MPLUSRounded1c';
  src: url('/fonts/MPLUSRounded1c-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: 'MPLUSRounded1c', sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  vertical-align: middle;
}

input, select {
  vertical-align: middle;
  outline: none;
}

textarea,
iframe {
  display: block;
}

img {
  border: 0;
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
  background: #F4778F;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: left;
  color: #706766;
  font-size: 16px;
  line-height: 1.9;
  -webkit-text-size-adjust: 100%;
  background: #FBF1F1 url(/img/bg_twinkle.jpg) repeat center center/cover;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=submit],
textarea {
  -webkit-appearance: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  width: 100%;
  font-size: 100%;
  line-height: 1.7;
  color: #706766;
  padding: 10px;
  background: #FFF;
  border: 0;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

select {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 100%;
  line-height: 1.7;
  color: #706766;
  padding: 9px;
  background: #FFF;
  border: 1px solid #AAA;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=radio] {
  display: none;
}
input[type=radio] + span {
  position: relative;
  padding-left: 23px;
  margin-right: 20px;
  cursor: pointer;
  white-space: nowrap;
}
input[type=radio] + span::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #AAA;
  background: #FFF;
  border-radius: 50%;
}
input[type=radio]:checked + span::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #F4778F;
  border-radius: 50%;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  position: relative;
  padding-left: 23px;
  margin-right: 20px;
  cursor: pointer;
  white-space: nowrap;
}
input[type=checkbox] + span::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #555;
  border-radius: 2px;
}
input[type=checkbox]:checked + span::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #F4778F;
  border-radius: 2px;
}

input::placeholder {
  color: #BBB;
}

input:-ms-input-placeholder {
  color: #BBB;
}

input::-ms-input-placeholder {
  color: #BBB;
}

a:link,
a:visited {
  color: #00AE8E;
  text-decoration: underline;
}

a:hover,
a:active {
  color: #00AE8E;
  text-decoration: none;
}

/* ContactForm7 関連 */
.wpcf7-list-item {
  margin: 0 !important;
}

.wpcf7-not-valid-tip {
  margin-top: 5px;
  color: #F00 !important;
}

.wpcf7-response-output {
  padding: 10px !important;
  border-radius: 8px;
}

.wpcf7 .ajax-loader,
.wpcf7 .wpcf7-spinner {
  display: none !important;
}

.grecaptcha-badge {
  z-index: 500;
  margin-bottom: 72px;
}

@media screen and (max-width: 767px) {
  .grecaptcha-badge {
    margin-bottom: 38px;
  }
}
.l-header {
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 120px;
}
@media screen and (max-width: 767px) {
  .l-header {
    position: fixed;
    height: 60px;
  }
}
.l-header.scrolled {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 90px;
  background: #FFF;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 767px) {
  .l-header.scrolled {
    height: 60px;
  }
}

.l-header-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 40px;
}
@media screen and (max-width: 767px) {
  .l-header-inner {
    padding: 0 0 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .l-global-nav {
    display: table-cell !important;
    vertical-align: middle;
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .l-global-nav {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 250, 252, 0.9);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 0.9s;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .l-global-nav.active {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .l-global-nav__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
.l-container-fluid {
  position: relative;
  padding: 60px 30px;
}
@media screen and (max-width: 767px) {
  .l-container-fluid {
    padding: 30px 20px;
  }
}

.l-container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
.l-container::after {
  content: "";
  display: block;
  clear: both;
}

.l-container-narrow {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
.l-container-narrow::after {
  content: "";
  display: block;
  clear: both;
}

.l-mainvisual,
.l-secondvisual {
  position: relative;
  z-index: 0;
}
.l-mainvisual::before,
.l-secondvisual::before {
  position: absolute;
  content: "";
  bottom: -119px;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .l-mainvisual::before,
  .l-secondvisual::before {
    bottom: -79px;
    height: 80px;
  }
}

.l-secondvisual {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .l-secondvisual {
    margin-bottom: 15px;
  }
}

.l-mainvisual-inner {
  position: relative;
}
.l-mainvisual-inner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/img/bg_ellipse.png) no-repeat 0 bottom/contain;
  z-index: 3;
}

.l-secondvisual-inner {
  position: relative;
  background: linear-gradient(110deg, #FFD0E3, #EEEFE0, #D1F0FF);
  height: 250px;
}
@media screen and (max-width: 767px) {
  .l-secondvisual-inner {
    height: 160px;
  }
}
.l-secondvisual-inner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/img/bg_ellipse.png) no-repeat 0 bottom/contain;
  z-index: 3;
}

.l-future {
  position: relative;
  background: #FFDEE5;
  margin: 20px 0;
  padding: 60px 30px;
}
@media screen and (max-width: 767px) {
  .l-future {
    margin: 10px 0;
    padding: 30px 20px;
  }
}
.l-future::before {
  position: absolute;
  content: "";
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(/img/bg_wave_top.png) repeat-x center center;
  background-size: auto 20px;
}
@media screen and (max-width: 767px) {
  .l-future::before {
    top: -10px;
    height: 10px;
    background-size: auto 10px;
  }
}
.l-future::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(/img/bg_wave_bottom.png) repeat-x center center;
  background-size: auto 20px;
}
@media screen and (max-width: 767px) {
  .l-future::after {
    bottom: -10px;
    height: 10px;
    background-size: auto 10px;
  }
}

.l-topicpath {
  padding: 0 30px;
}
@media screen and (max-width: 767px) {
  .l-topicpath {
    padding: 0 20px;
  }
}

.l-contents {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .l-contents {
    display: block;
  }
}

.l-main {
  width: 100%;
  margin-right: 60px;
  padding: 50px;
  background: #FFF;
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 767px) {
  .l-main {
    padding: 20px;
    border-radius: 10px;
  }
}

.l-side {
  width: 180px;
  min-width: 180px;
}
@media screen and (max-width: 767px) {
  .l-side {
    width: auto;
    min-width: auto;
    margin-top: 30px;
  }
}

.l-side-group {
  margin-bottom: 30px;
}
.l-side-group:last-child {
  margin-bottom: 0;
}

.l-contact {
  background: #FFDEE5;
  padding: 60px;
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 767px) {
  .l-contact {
    padding: 30px 20px;
    border-radius: 10px;
  }
}

.l-story {
  position: relative;
  border: 5px solid #FFF;
  padding: 60px;
  background: url(/img/concept/bg_story.jpg) no-repeat center center/cover;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .l-story {
    border: 3px solid #FFF;
    padding: 30px 20px;
    border-radius: 10px;
  }
}

.l-footer {
  padding: 40px 30px 0 30px;
  background: #FFF;
}
@media screen and (max-width: 767px) {
  .l-footer {
    padding: 25px 10px 0 10px;
  }
}

a.c-btn-more {
  position: relative;
  display: inline-block;
  width: 250px;
  padding: 16px;
  font-size: 108%;
  line-height: 1.5;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  background: linear-gradient(to right, #00AE8E 0%, #00BCB9 50%, #00AE8E 100%);
  background-size: 200% auto;
  border-radius: 100px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
a.c-btn-more::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 25px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  transform: rotate(45deg);
}
a.c-btn-more:hover {
  background-position: right center;
}

a.c-btn-line {
  position: relative;
  display: inline-block;
  width: 250px;
  padding: 15px 15px 13px 15px;
  font-size: 108%;
  line-height: 1.5;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  background: #06C755;
  border-radius: 100px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
a.c-btn-line::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 9px 0 0;
  width: 30px;
  height: 30px;
  background: url("/img/icon_line_mark.png") no-repeat center center/contain;
}
a.c-btn-line:hover {
  opacity: 0.8;
}

a.c-btn-pdf {
  position: relative;
  display: inline-block;
  width: 280px;
  padding: 15px 15px 13px 15px;
  font-size: 108%;
  line-height: 1.5;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  background: #F4778F;
  border-radius: 100px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
a.c-btn-pdf::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 9px 0 0;
  width: 30px;
  height: 30px;
  background: url("/img/icon_pdf.png") no-repeat center center/contain;
}
a.c-btn-pdf:hover {
  opacity: 0.8;
}

.c-btn-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto 0 auto;
  padding-top: 25px;
  border-top: 2px dotted #DDD;
}
@media screen and (max-width: 767px) {
  .c-btn-social {
    margin: 20px auto 0 auto;
    padding-top: 20px;
    border-top: 2px dotted #DDD;
  }
}
.c-btn-social li {
  width: 100%;
  padding: 0 8px;
}
@media screen and (max-width: 767px) {
  .c-btn-social li {
    padding: 0 4px;
  }
}
.c-btn-social li a {
  display: block;
  width: 100%;
  padding: 12px 0;
  line-height: 1.5;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 100px;
}
.c-btn-social li a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .c-btn-social li a {
    padding: 9px 0;
    font-size: 77%;
  }
}
.c-btn-social li.x a {
  background: #444;
}
.c-btn-social li.facebook a {
  background: #087CCB;
}
.c-btn-social li.line a {
  background: #06C755;
}

.c-btn-send {
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-btn-send {
    margin-top: 30px;
  }
}
.c-btn-send input[type=submit] {
  display: inline-block;
  width: 250px;
  padding: 16px;
  font-size: 108%;
  line-height: 1.5;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  background: #F4778F;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  .c-btn-send input[type=submit] {
    font-size: 100%;
    width: 250px;
  }
}
.c-btn-send input[type=submit]:hover {
  background: #F992A5;
}

.c-grid {
  margin-bottom: 60px;
}
.c-grid::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 767px) {
  .c-grid {
    margin-bottom: 30px;
  }
}
.c-grid:last-of-type {
  margin-bottom: 0;
}

.c-grid-1 {
  width: 3.75%;
}

.c-grid-2 {
  width: 12.5%;
}

.c-grid-3 {
  width: 21.2%;
}

.c-grid-4 {
  width: 30%;
}

.c-grid-5 {
  width: 40%;
}

.c-grid-6 {
  width: 47.5%;
}

.c-grid-7 {
  width: 55%;
}

.c-grid-8 {
  width: 65%;
}

.c-grid-9 {
  width: 73.8%;
}

.c-grid-10 {
  width: 82.5%;
}

.c-grid-11 {
  width: 91.2%;
}

.c-grid-12 {
  width: 100%;
}

.c-grid-1,
.c-grid-2,
.c-grid-3,
.c-grid-4,
.c-grid-5,
.c-grid-6,
.c-grid-7,
.c-grid-8,
.c-grid-9,
.c-grid-10,
.c-grid-11 {
  float: left;
  margin: 0 5% 0 0;
}
@media screen and (max-width: 767px) {
  .c-grid-1,
  .c-grid-2,
  .c-grid-3,
  .c-grid-4,
  .c-grid-5,
  .c-grid-6,
  .c-grid-7,
  .c-grid-8,
  .c-grid-9,
  .c-grid-10,
  .c-grid-11 {
    float: none;
    margin: 0 0 30px 0;
    width: auto;
  }
}

.c-grid-1:last-child,
.c-grid-2:last-child,
.c-grid-3:last-child,
.c-grid-4:last-child,
.c-grid-5:last-child,
.c-grid-6:last-child,
.c-grid-7:last-child,
.c-grid-8:last-child,
.c-grid-9:last-child,
.c-grid-10:last-child,
.c-grid-11:last-child {
  float: right;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .c-grid-1:last-child,
  .c-grid-2:last-child,
  .c-grid-3:last-child,
  .c-grid-4:last-child,
  .c-grid-5:last-child,
  .c-grid-6:last-child,
  .c-grid-7:last-child,
  .c-grid-8:last-child,
  .c-grid-9:last-child,
  .c-grid-10:last-child,
  .c-grid-11:last-child {
    float: none;
  }
}

.c-grid-future {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .c-grid-future {
    margin-bottom: 30px;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}
.c-grid-future:last-child {
  margin-bottom: 0;
}
.c-grid-future__content {
  width: 47%;
}
@media screen and (max-width: 767px) {
  .c-grid-future__content {
    width: 100%;
    margin-top: 30px;
  }
}
.c-grid-future__image {
  width: 47%;
}
@media screen and (max-width: 767px) {
  .c-grid-future__image {
    width: 100%;
  }
}
.c-grid-future.reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .c-grid-future.reverse {
    flex-direction: column-reverse;
  }
}

.c-grid-info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .c-grid-info {
    display: block;
  }
}
.c-grid-info__left {
  width: 35%;
}
@media screen and (max-width: 767px) {
  .c-grid-info__left {
    width: auto;
  }
}
.c-grid-info__right {
  width: 65%;
  padding: 27px 35px;
  background: #FFF;
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 767px) {
  .c-grid-info__right {
    width: auto;
    padding: 10px 20px;
    border-radius: 10px;
  }
}

.c-grid-contact {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .c-grid-contact {
    display: block;
  }
}
.c-grid-contact__left {
  width: 47%;
}
@media screen and (max-width: 767px) {
  .c-grid-contact__left {
    width: auto;
  }
}
.c-grid-contact__right {
  width: 47%;
}
@media screen and (max-width: 767px) {
  .c-grid-contact__right {
    width: auto;
    margin-top: 30px;
  }
}

.c-label-category {
  display: block;
  white-space: nowrap;
  background: #F4778F;
  padding: 5px 8px;
  min-width: 90px;
  font-size: 85%;
  line-height: 1.2;
  color: #FFF;
  text-align: center;
  border-radius: 80px;
}
@media screen and (max-width: 767px) {
  .c-label-category {
    min-width: 70px;
    padding: 4px 8px;
    font-size: 70%;
  }
}

.u-label-hissu {
  float: right;
  background: #F4778F;
  font-size: 12px;
  line-height: 1;
  color: #FFF;
  margin-top: 2px;
  padding: 7px;
  border-radius: 3px;
}

.p-logo {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.p-logo a {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-logo a {
    display: inline-block;
    padding: 10px 0;
  }
  .p-logo a img {
    width: 110px;
  }
}

.scrolled .p-logo a {
  display: inline-block;
}
.scrolled .p-logo a img {
  width: 160px;
  min-width: 160px;
}

.p-logo-second {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.p-logo-second a {
  position: absolute;
  top: 35px;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .p-logo-second a {
    position: static;
    padding: 10px 0;
  }
}
.p-logo-second a img {
  width: 290px;
}
@media screen and (max-width: 767px) {
  .p-logo-second a img {
    width: 110px;
  }
}

.clone-nav .p-logo-second a {
  display: none;
}

.scrolled .p-logo-second a {
  position: static;
  display: inline-block;
}
.scrolled .p-logo-second a img {
  width: 160px;
  min-width: 160px;
}

.p-logo-footer {
  text-align: center;
}
.p-logo-footer img {
  width: 250px;
}
@media screen and (max-width: 767px) {
  .p-logo-footer img {
    width: 180px;
  }
}

.p-address {
  margin: 20px 0 25px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-address {
    margin: 15px 0 20px 0;
    font-size: 77%;
  }
}

.p-sns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
}
@media screen and (max-width: 767px) {
  .p-sns {
    gap: 0 8px;
  }
}
.p-sns li img {
  display: block;
  min-width: 42px;
  width: 42px;
  transition: 0.2s;
}
@media screen and (max-width: 767px) {
  .p-sns li img {
    min-width: 38px;
    width: 38px;
  }
}
.p-sns li img:hover {
  opacity: 0.8;
}

.p-copyright {
  margin: 30px -30px 0 -30px;
  padding: 20px;
  color: #FFF;
  text-align: center;
  background: #F4778F;
}
@media screen and (max-width: 767px) {
  .p-copyright {
    margin: 25px -10px 0 -10px;
    padding: 12px;
    font-size: 77%;
  }
}

.p-pagetop {
  position: fixed;
  z-index: 500;
  right: 12px;
  bottom: 12px;
  display: none;
}
@media screen and (max-width: 767px) {
  .p-pagetop {
    right: 10px;
    bottom: 10px;
  }
}
.p-pagetop a {
  display: block;
  position: relative;
  width: 43px;
  height: 43px;
  text-indent: -9999px;
  overflow: hidden;
  background: #FFF;
  border-radius: 50%;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  .p-pagetop a {
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
}
.p-pagetop a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .p-pagetop a:hover {
    opacity: 1;
  }
}
.p-pagetop a::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 6px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 3px solid #F4778F;
  border-right: 3px solid #F4778F;
  transform: rotate(-45deg);
}
@media screen and (max-width: 767px) {
  .p-pagetop a::before {
    top: 5px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #F4778F;
    border-right: 2px solid #F4778F;
  }
}

@media screen and (min-width: 768px) {
  .clone-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.4s;
    transform: translateY(-110%);
  }
  .scrolled {
    transform: translateY(0);
  }
}
@media screen and (max-width: 767px) {
  .clone-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .p-global-nav {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .p-global-nav > li:not(.sns) {
    padding-left: 25px;
  }
  .p-global-nav > li:not(.sns) a {
    position: relative;
    display: block;
    font-size: 116%;
    line-height: 1.5;
    color: #F4778F;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.2s;
  }
  .p-global-nav > li:not(.sns) a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #F4778F;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
    cursor: default;
  }
  .p-global-nav > li:not(.sns) a:hover::after {
    transform: scale(1, 1);
  }
  .p-global-nav li.sns {
    display: flex;
    margin-left: 15px;
  }
  .p-global-nav li.sns span {
    margin-left: 5px;
  }
  .p-global-nav li.sns span img {
    display: block;
    min-width: 38px;
    width: 38px;
    transition: 0.2s;
  }
  .p-global-nav li.sns span img:hover {
    opacity: 0.8;
  }
  .scrolled .p-global-nav li:not(.sns) a {
    color: #706766;
  }
}
@media screen and (max-width: 767px) {
  .p-global-nav li {
    padding: 10px 0;
    text-align: center;
  }
  .p-global-nav li a {
    display: block;
    font-size: 139%;
    line-height: 1.5;
    color: #F4778F;
    text-decoration: none;
  }
  .p-global-nav li.sns {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  .p-global-nav li.sns span {
    margin: 0 8px;
  }
  .p-global-nav li.sns span img {
    display: block;
    min-width: 45px;
    width: 45px;
  }
}
@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
    width: 60px;
    height: 60px;
    background: #F4778F;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8000;
    touch-action: manipulation;
    overflow: hidden;
    border-radius: 0 0 0 12px;
  }
  .hamburger_icon {
    position: relative;
    margin: 0 auto;
    margin-top: 29px;
  }
  .hamburger_icon,
  .hamburger_icon::before,
  .hamburger_icon::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFF;
  }
  .hamburger_icon::before,
  .hamburger_icon::after {
    position: absolute;
    content: "";
    transition-property: background-color, transform;
    transition-duration: 0.3s;
  }
  .hamburger_icon::before {
    top: -8px;
  }
  .hamburger_icon::after {
    top: 8px;
  }
  .hamburger.active .hamburger_icon,
  .hamburger.active .hamburger_icon::before,
  .hamburger.active .hamburger_icon::after {
    background-color: #FFF;
  }
  .hamburger.active .hamburger_icon {
    background-color: transparent;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
  }
  .hamburger.active .hamburger_icon::before {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .hamburger_icon::after {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.p-topicpath {
  position: relative;
  max-width: 1100px;
  margin: 0 auto 20px auto;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .p-topicpath {
    font-size: 77%;
    margin: 0 auto 15px auto;
  }
}
.p-topicpath li {
  display: inline;
}
.p-topicpath li a {
  display: inline-block;
  position: relative;
  margin-right: 7px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .p-topicpath li a {
    margin-right: 5px;
    padding-right: 11px;
  }
}
.p-topicpath li a::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  height: 5px;
  border-top: 2px solid #F4778F;
  border-right: 2px solid #F4778F;
  transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .p-topicpath li a::before {
    width: 4px;
    height: 4px;
  }
}

.wp-pagenavi {
  margin-top: 46px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .wp-pagenavi {
    font-size: 85%;
    margin-top: 16px;
  }
}

.wp-pagenavi a,
.wp-pagenavi span {
  display: inline-block;
  padding: 14px 17px;
  margin: 4px 3px 0 3px;
  line-height: 1;
  color: #666;
  text-decoration: none;
  background: #EEE;
  transition: 0.1s;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .wp-pagenavi a,
  .wp-pagenavi span {
    padding: 8px 11px;
  }
}

.wp-pagenavi a:hover {
  color: #FFF;
  background: #F4778F;
}

.wp-pagenavi span.current {
  color: #FFF;
  background: #F4778F;
}

.p-pager {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
}
@media screen and (max-width: 767px) {
  .p-pager {
    margin: 30px auto 0 auto;
  }
}
.p-pager li {
  padding: 0 8px;
}
@media screen and (max-width: 767px) {
  .p-pager li {
    padding: 0 4px;
  }
}
.p-pager li a {
  display: block;
  width: 120px;
  padding: 12px 0;
  line-height: 1.5;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  background: #F4778F;
  transition: 0.2s;
  border-radius: 100px;
}
.p-pager li a:hover {
  background: #F992A5;
}
@media screen and (max-width: 767px) {
  .p-pager li a {
    width: 95px;
    padding: 8px 0;
    font-size: 85%;
  }
}

.p-title-future {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .p-title-future {
    margin-bottom: 20px;
    text-align: center;
  }
}
.p-title-future img {
  height: 120px;
}
@media screen and (max-width: 767px) {
  .p-title-future img {
    height: 75px;
  }
}

.p-title-center {
  position: relative;
  margin-bottom: 60px;
  padding-top: 50px;
  font-family: "Zen Maru Gothic", serif;
  font-size: 200%;
  line-height: 1.4;
  color: #F4778F;
  font-weight: normal;
  text-align: center;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .p-title-center {
    margin-bottom: 30px;
    padding-top: 35px;
    font-size: 154%;
  }
}
.p-title-center::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(/img/icon_bouquet.png) no-repeat center 0/cover;
  z-index: -1;
  background-size: auto 40px;
}
@media screen and (max-width: 767px) {
  .p-title-center::before {
    background-size: auto 30px;
  }
}

.p-title-secondvisual {
  position: relative;
  top: 128px;
  padding-top: 47px;
  line-height: 1.4;
  color: #F4778F;
  font-weight: normal;
  text-align: center;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .p-title-secondvisual {
    top: 33px;
    padding-top: 35px;
  }
}
.p-title-secondvisual__jpn {
  font-family: "Zen Maru Gothic", serif;
  font-size: 231%;
}
@media screen and (max-width: 767px) {
  .p-title-secondvisual__jpn {
    font-size: 154%;
  }
}
.p-title-secondvisual__eng {
  font-family: "Yellowtail", cursive;
  font-size: 170%;
  color: #00AE8E;
  margin-top: 2px;
}
@media screen and (max-width: 767px) {
  .p-title-secondvisual__eng {
    font-size: 108%;
  }
}
.p-title-secondvisual::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(/img/icon_bouquet.png) no-repeat center 0/cover;
  z-index: -1;
  background-size: auto 40px;
}
@media screen and (max-width: 767px) {
  .p-title-secondvisual::before {
    background-size: auto 30px;
  }
}

.p-title-main {
  margin-bottom: 20px;
  font-size: 139%;
  line-height: 1.6;
  color: #F4778F;
}
@media screen and (max-width: 767px) {
  .p-title-main {
    margin-bottom: 10px;
    font-size: 116%;
  }
}

.p-title-side {
  margin-bottom: 15px;
  padding-bottom: 7px;
  font-size: 124%;
  line-height: 1.6;
  color: #F4778F;
  border-bottom: 2px solid #F4778F;
}

.p-title-post {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 3px dotted #DDD;
}
@media screen and (max-width: 767px) {
  .p-title-post {
    padding-bottom: 15px;
  }
}
.p-title-post ul {
  display: flex;
  align-items: center;
}
.p-title-post ul li.date {
  margin-right: 20px;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .p-title-post ul li.date {
    margin-right: 10px;
    font-size: 85%;
  }
}
.p-title-post h1 {
  margin-top: 10px;
  font-size: 185%;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .p-title-post h1 {
    font-size: 139%;
  }
}

.p-title-bar {
  margin-bottom: 40px;
  padding: 12px 18px;
  font-size: 139%;
  line-height: 1.6;
  color: #FFF;
  background: #F4778F;
  border-radius: 7px;
}
@media screen and (max-width: 767px) {
  .p-title-bar {
    margin-bottom: 30px;
    padding: 10px 15px;
    font-size: 116%;
    border-radius: 5px;
  }
}

.p-catch {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-catch img {
  width: 540px;
}
@media screen and (max-width: 767px) {
  .p-catch img {
    width: 220px;
  }
}

.p-heart {
  position: absolute;
  bottom: -30px;
  right: 60px;
  z-index: 5;
  animation: floating 2s ease-in-out infinite alternate-reverse;
}
@media screen and (max-width: 767px) {
  .p-heart {
    bottom: -20px;
    right: 20px;
  }
}
.p-heart img {
  width: 260px;
}
@media screen and (max-width: 767px) {
  .p-heart img {
    width: 110px;
  }
}

@keyframes floating {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
.p-mainvisual {
  overflow: hidden;
}
.p-mainvisual li {
  width: 100%;
}
.p-mainvisual li img {
  object-fit: cover;
  width: 100%;
  height: 820px;
}
@media screen and (max-width: 767px) {
  .p-mainvisual li img {
    height: 350px;
  }
}

.p-centered-btns_tabs {
  position: relative;
  height: 45px;
  margin-top: -45px;
  z-index: 10;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .p-centered-btns_tabs {
    height: 35px;
    margin-top: -35px;
  }
}
.p-centered-btns_tabs li a {
  background: rgba(255, 255, 255, 0.7);
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 8px;
  outline: 0;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .p-centered-btns_tabs li a {
    width: 10px;
    height: 10px;
    margin: 0 6px;
  }
}
.p-centered-btns_tabs li.p-centered-btns_here a {
  background: #F4778F;
}

.p-lead {
  padding: 10px 0;
}
.p-lead dt {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-lead dt {
    margin-bottom: 20px;
  }
}
.p-lead dt img {
  width: 600px;
}
@media screen and (max-width: 767px) {
  .p-lead dt img {
    width: 320px;
  }
}
.p-lead dd {
  font-size: 108%;
  line-height: 1.7;
  text-align: center;
}
.p-lead dd .br {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-lead dd {
    font-size: 100%;
  }
  .p-lead dd .br {
    display: inline;
  }
}

.p-surprise {
  position: relative;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  background: #FFF;
  border: 15px solid #FFDEE5;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .p-surprise {
    margin-top: 20px;
    padding: 25px;
    border-width: 8px;
  }
}
.p-surprise::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -20px;
  width: 150px;
  height: 150px;
  background: url(/img/top/flag1.png) no-repeat 0 0/cover;
}
@media screen and (max-width: 767px) {
  .p-surprise::before {
    top: -15px;
    left: -12px;
    width: 80px;
    height: 80px;
  }
}
.p-surprise::after {
  content: "";
  position: absolute;
  top: -25px;
  right: -20px;
  width: 150px;
  height: 150px;
  background: url(/img/top/flag2.png) no-repeat 0 0/cover;
}
@media screen and (max-width: 767px) {
  .p-surprise::after {
    top: -15px;
    right: -12px;
    width: 80px;
    height: 80px;
  }
}
.p-surprise dt {
  font-size: 185%;
  line-height: 1.4;
  color: #F4778F;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .p-surprise dt {
    font-size: 139%;
  }
}
.p-surprise dt br {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-surprise dt br {
    display: inline;
  }
}
.p-surprise dd {
  margin-top: 20px;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .p-surprise dd {
    margin-top: 15px;
  }
}
.p-surprise dd br {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-surprise dd br {
    display: inline;
  }
}
.p-surprise dd .br {
  display: inline;
}

.p-btn-future {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .p-btn-future {
    margin-top: 20px;
    text-align: center;
  }
}

.p-image-future {
  position: relative;
  margin: 0 15px 15px 0;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .p-image-future {
    margin: 0 10px 10px 0;
  }
}
.p-image-future::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #E995B4, #C7CAF7);
  z-index: -1;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .p-image-future::before {
    top: 10px;
    left: 10px;
    border-radius: 20px;
  }
}
.p-image-future img {
  border: 4px solid #F4778F;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .p-image-future img {
    border-radius: 20px;
  }
}

.p-info li a {
  position: relative;
  padding: 15px;
  border-bottom: 2px dotted #DDD;
  display: flex;
  align-items: center;
  text-decoration: none;
  line-height: 1.6;
  color: #706766;
}
@media screen and (max-width: 767px) {
  .p-info li a {
    flex-wrap: wrap;
    padding: 15px 0;
  }
}
.p-info li:last-child a {
  border-bottom: none;
}
.p-info__date {
  margin-right: 20px;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .p-info__date {
    margin-right: 10px;
    font-size: 85%;
  }
}
.p-info__label {
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .p-info__label {
    margin-right: 0;
  }
}
.p-info__title {
  color: #706766;
  text-decoration: underline;
}
.p-info__title:hover {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .p-info__title {
    width: 100%;
    margin-top: 6px;
  }
}

.p-info-list {
  border-top: 2px dotted #DDD;
}
.p-info-list li a {
  position: relative;
  padding: 15px;
  border-bottom: 2px dotted #DDD;
  display: flex;
  align-items: center;
  text-decoration: none;
  line-height: 1.6;
  color: #706766;
}
@media screen and (max-width: 767px) {
  .p-info-list li a {
    flex-wrap: wrap;
    padding: 15px 0;
  }
}
.p-info-list__date {
  margin-right: 20px;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .p-info-list__date {
    margin-right: 10px;
    font-size: 85%;
  }
}
.p-info-list__label {
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .p-info-list__label {
    margin-right: 0;
  }
}
.p-info-list__title {
  color: #706766;
  text-decoration: underline;
}
.p-info-list__title:hover {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .p-info-list__title {
    width: 100%;
    margin-top: 6px;
  }
}

.p-btn-info {
  position: absolute;
  top: 150px;
  left: 0;
  width: 35%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-btn-info {
    position: static;
    margin-top: 30px;
    width: auto;
  }
}

.p-bnr-recruit {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .p-bnr-recruit {
    margin-top: 30px;
  }
}
.p-bnr-recruit img {
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.p-bnr-recruit img:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .p-bnr-recruit img {
    border-radius: 12px;
  }
}

.p-movie {
  max-width: 760px;
  margin: 0 auto;
}
.p-movie video {
  width: 100%;
  height: 100%;
  text-align: center;
}

.p-contact {
  overflow: hidden;
  background: #FFF;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .p-contact {
    border-radius: 10px;
  }
}
.p-contact dt {
  padding: 13px;
  font-size: 139%;
  line-height: 1.6;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  background: #F4778F;
}
@media screen and (max-width: 767px) {
  .p-contact dt {
    padding: 12px;
    font-size: 100%;
  }
}
.p-contact dt.line {
  background: #06C755;
}
.p-contact dd {
  padding: 30px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-contact dd {
    padding: 25px 20px;
  }
}

.p-number {
  display: inline-block;
  font-size: 216%;
  line-height: 1;
  font-weight: bold;
  padding-left: 26px;
  background: url(/img/icon_tel.png) no-repeat 0 5px;
  background-size: 26px 26px;
}
@media screen and (max-width: 767px) {
  .p-number {
    font-size: 185%;
    padding-left: 24px;
    background-size: 22px 22px;
  }
}
.p-number a {
  color: #F4778F;
  text-decoration: none;
}

.p-line {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .p-line {
    display: block;
  }
}
.p-line__content {
  width: 55%;
}
@media screen and (max-width: 767px) {
  .p-line__content {
    width: auto;
  }
}
.p-line__qr {
  width: 32%;
}
.p-line__qr img {
  border: 1px solid #666;
}
@media screen and (max-width: 767px) {
  .p-line__qr {
    display: none;
  }
}

.p-line-text {
  font-size: 108%;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .p-line-text {
    font-size: 93%;
  }
}

.p-list-side {
  padding: 0 10px;
}
.p-list-side li {
  padding: 3px 0;
  line-height: 1.6;
}
.p-list-side li a {
  position: relative;
  padding-left: 16px;
}
.p-list-side li a::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 9px;
  left: 0;
  width: 5px;
  height: 5px;
  border-top: 2px solid #F4778F;
  border-right: 2px solid #F4778F;
  transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .p-list-side li a::before {
    width: 6px;
    height: 6px;
    border-width: 2px;
  }
}

.p-eyecatch {
  margin-bottom: 30px;
}

.p-flag-story {
  position: absolute;
  top: -50px;
  right: -40px;
}
@media screen and (max-width: 767px) {
  .p-flag-story {
    top: -30px;
    right: -20px;
  }
}
.p-flag-story img {
  width: 330px;
}
@media screen and (max-width: 767px) {
  .p-flag-story img {
    width: 150px;
  }
}

.p-lead-story {
  margin-bottom: 50px;
  font-family: "Zen Maru Gothic", serif;
  font-size: 200%;
  line-height: 1.5;
  color: #F4778F;
  text-align: center;
  text-shadow: 0 0 2px #FFF, 0 0 4px #FFF, 0 0 6px #FFF, 0 0 8px #FFF, 0 0 10px #FFF;
}
@media screen and (max-width: 767px) {
  .p-lead-story {
    margin-bottom: 25px;
    font-size: 124%;
  }
}

.p-text-story {
  margin-top: 1em;
  font-size: 108%;
  line-height: 2;
  text-align: center;
  text-shadow: 0 0 2px #FFF, 0 0 4px #FFF, 0 0 6px #FFF, 0 0 8px #FFF;
}
@media screen and (max-width: 767px) {
  .p-text-story {
    font-size: 100%;
    line-height: 1.8;
    text-align: left;
  }
  .p-text-story br {
    display: none;
  }
}

.p-gmap {
  width: 100%;
  height: 350px;
}
@media screen and (max-width: 767px) {
  .p-gmap {
    height: 300px;
  }
}

.p-system {
  position: relative;
  margin-bottom: 60px;
  padding: 20px;
  font-family: "Zen Maru Gothic", serif;
  font-size: 170%;
  color: #C09343;
  text-align: center;
  background: #FFF;
  border: 3px solid #C09343;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
  z-index: 0;
}
.p-system::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border: 1.5px solid #C09343;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .p-system {
    margin-bottom: 30px;
    padding: 15px;
    font-size: 139%;
  }
}

.p-table-common {
  width: 100%;
  line-height: 1.5;
}
.p-table-common th {
  width: 30%;
  padding: 18px;
  background: #FFECEE;
  color: #F4778F;
  text-align: center;
  border: 1.5px solid #F4778F;
}
@media screen and (max-width: 767px) {
  .p-table-common th {
    padding: 10px;
  }
}
.p-table-common td {
  padding: 15px;
  background: #FFF;
  border: 1.5px solid #F4778F;
}
@media screen and (max-width: 767px) {
  .p-table-common td {
    padding: 10px;
  }
}

.p-table-common2 {
  width: 100%;
  line-height: 1.5;
}
.p-table-common2 th {
  width: 20%;
  padding: 18px;
  background: #FFECEE;
  color: #F4778F;
  text-align: center;
  border: 1.5px solid #F4778F;
}
@media screen and (max-width: 767px) {
  .p-table-common2 th {
    display: block;
    width: auto;
    margin-top: -1.5px;
    padding: 8px 15px;
    text-align: left;
  }
}
.p-table-common2 td {
  padding: 15px;
  background: #FFF;
  border: 1.5px solid #F4778F;
}
@media screen and (max-width: 767px) {
  .p-table-common2 td {
    display: block;
    margin-top: -1.5px;
    padding: 15px;
  }
}

.p-price {
  font-size: 124%;
  color: #F4778F;
}
.p-price small {
  font-size: 75%;
}
@media screen and (max-width: 767px) {
  .p-price {
    font-size: 124%;
  }
}

.p-note {
  text-indent: -1em;
  padding-left: 1em;
  font-size: 93%;
  line-height: 1.6;
  color: #00AE8E;
}

.p-list-disc {
  padding-left: 2em;
}
.p-list-disc li {
  list-style: disc;
}
.p-list-disc li::marker {
  color: #F4778F;
}

.p-menu img {
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .p-menu img {
    border-radius: 10px;
  }
}

.p-lead-recruit {
  margin-bottom: 30px;
}
.p-lead-recruit dt {
  margin-bottom: 30px;
  padding: 10px 5px;
  font-size: 154%;
  line-height: 1.6;
  color: #F4778F;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #F4778F;
  border-bottom: 2px solid #F4778F;
}
@media screen and (max-width: 767px) {
  .p-lead-recruit dt {
    font-size: 124%;
  }
}
.p-lead-recruit dd {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-lead-recruit dd {
    text-align: left;
  }
}

.p-table-form {
  width: 100%;
  margin-top: -10px;
}
@media screen and (max-width: 767px) {
  .p-table-form {
    margin-top: -20px;
  }
}
.p-table-form th {
  width: 27%;
  padding: 10px 20px;
  font-size: 108%;
}
@media screen and (max-width: 767px) {
  .p-table-form th {
    display: block;
    width: auto;
    padding: 20px 0 7px 0;
    font-size: 100%;
  }
}
.p-table-form td {
  padding: 10px 20px;
}
@media screen and (max-width: 767px) {
  .p-table-form td {
    display: block;
    padding: 0;
  }
}

.entry p {
  margin-bottom: 1.2em;
}
.entry p:last-child {
  margin-bottom: 0;
}

.entry h2 {
  margin: 45px 0 30px 0;
  padding: 12px 18px;
  font-size: 131%;
  line-height: 1.6;
  color: #FFF;
  background: #F4778F;
  border-radius: 6px;
}
@media screen and (max-width: 767px) {
  .entry h2 {
    margin: 30px 0 20px 0;
    padding: 10px 15px;
  }
}

.entry h3 {
  margin: 45px 0 30px 0;
  padding-bottom: 12px;
  font-size: 131%;
  line-height: 1.5;
  border-bottom: 3px solid #F4778F;
}
@media screen and (max-width: 767px) {
  .entry h3 {
    margin: 30px 0 20px 0;
    border-bottom-width: 2px;
  }
}

.entry h4 {
  margin: 30px 0 20px 0;
  padding: 4px 0 4px 15px;
  font-size: 124%;
  line-height: 1.5;
  border-left: 5px solid #F4778F;
}
@media screen and (max-width: 767px) {
  .entry h4 {
    margin: 30px 0 15px 0;
  }
}

.entry h5 {
  margin: 30px 0 10px 0;
  font-size: 116%;
  line-height: 1.5;
}

.entry h6 {
  margin: 30px 0 10px 0;
  font-size: 116%;
  line-height: 1.5;
}

.entry ul {
  list-style: disc;
  margin: 1em 0;
  padding-left: 2em;
}
.entry ul li::marker {
  color: #F4778F;
}

.entry ol {
  list-style: decimal;
  margin: 1em 0;
  padding-left: 2em;
}

.entry table {
  width: 100%;
  margin: 1.5em 0;
}
.entry table th {
  border: 2px solid #F4778F;
  padding: 12px;
  background: #FFECEE;
  color: #F4778F;
  text-align: center;
}
.entry table td {
  border: 2px solid #F4778F;
  padding: 12px;
}

.u-spacer {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .u-spacer {
    margin-top: 30px;
  }
}

.u-bgcolor-gradient-rainbow {
  background: linear-gradient(110deg, #FFD0E3, #EEEFE0, #D1F0FF);
}

.u-bgcolor-white {
  background: #FFF;
}

.u-color-pink {
  color: #F4778F;
}

@media screen and (min-width: 768px) {
  .u-illust-future1 {
    position: relative;
  }
  .u-illust-future1::before {
    content: "";
    position: absolute;
    top: 7%;
    right: 45.5%;
    width: 78px;
    height: 78px;
    background: url(/img/top/illust_future1.png) no-repeat 0 0/cover;
    z-index: 1;
  }
  .u-illust-future2 {
    position: relative;
  }
  .u-illust-future2::before {
    content: "";
    position: absolute;
    top: 6%;
    right: 5%;
    width: 88px;
    height: 88px;
    background: url(/img/top/illust_future2.png) no-repeat 0 0/cover;
    z-index: 1;
  }
  .u-illust-future3 {
    position: relative;
  }
  .u-illust-future3::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 39%;
    width: 100px;
    height: 100px;
    background: url(/img/top/illust_future3.png) no-repeat 0 0/cover;
    z-index: 1;
  }
}
.u-float-l {
  float: left !important;
}

.u-float-r {
  float: right !important;
}

.u-txt-l {
  text-align: left !important;
}

.u-txt-c {
  text-align: center !important;
}

.u-txt-r {
  text-align: right !important;
}

.u-fs11 {
  font-size: 11px !important;
}

.u-fs12 {
  font-size: 12px !important;
}

.u-fs13 {
  font-size: 13px !important;
}

.u-fs14 {
  font-size: 14px !important;
}

.u-fs15 {
  font-size: 15px !important;
}

.u-fs16 {
  font-size: 16px !important;
}

.u-fs17 {
  font-size: 17px !important;
}

.u-fs18 {
  font-size: 18px !important;
}

.u-fs19 {
  font-size: 19px !important;
}

.u-fs20 {
  font-size: 20px !important;
}

.u-fs21 {
  font-size: 21px !important;
}

.u-fs22 {
  font-size: 22px !important;
}

.u-fs23 {
  font-size: 23px !important;
}

.u-fs24 {
  font-size: 24px !important;
}

.u-fs25 {
  font-size: 25px !important;
}

.u-fs26 {
  font-size: 26px !important;
}

.u-fs27 {
  font-size: 27px !important;
}

.u-fs28 {
  font-size: 28px !important;
}

.u-fs29 {
  font-size: 29px !important;
}

.u-fs30 {
  font-size: 30px !important;
}

.u-mt0 {
  margin-top: 0 !important;
}

.u-mt5 {
  margin-top: 5px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mt15 {
  margin-top: 15px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt25 {
  margin-top: 25px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mt35 {
  margin-top: 35px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mt45 {
  margin-top: 45px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mt55 {
  margin-top: 55px !important;
}

.u-mt60 {
  margin-top: 60px !important;
}

.u-mt65 {
  margin-top: 65px !important;
}

.u-mt70 {
  margin-top: 70px !important;
}

.u-mt75 {
  margin-top: 75px !important;
}

.u-mt80 {
  margin-top: 80px !important;
}

.u-mt85 {
  margin-top: 85px !important;
}

.u-mt90 {
  margin-top: 90px !important;
}

.u-mt95 {
  margin-top: 95px !important;
}

.u-mt100 {
  margin-top: 100px !important;
}

.u-ml0 {
  margin-left: 0 !important;
}

.u-ml5 {
  margin-left: 5px !important;
}

.u-ml10 {
  margin-left: 10px !important;
}

.u-ml15 {
  margin-left: 15px !important;
}

.u-ml20 {
  margin-left: 20px !important;
}

.u-ml25 {
  margin-left: 25px !important;
}

.u-ml30 {
  margin-left: 30px !important;
}

.u-ml35 {
  margin-left: 35px !important;
}

.u-ml40 {
  margin-left: 40px !important;
}

.u-ml45 {
  margin-left: 45px !important;
}

.u-ml50 {
  margin-left: 50px !important;
}

.u-ml55 {
  margin-left: 55px !important;
}

.u-ml60 {
  margin-left: 60px !important;
}

.u-ml65 {
  margin-left: 65px !important;
}

.u-ml70 {
  margin-left: 70px !important;
}

.u-ml75 {
  margin-left: 75px !important;
}

.u-ml80 {
  margin-left: 80px !important;
}

.u-ml85 {
  margin-left: 85px !important;
}

.u-ml90 {
  margin-left: 90px !important;
}

.u-ml95 {
  margin-left: 95px !important;
}

.u-ml100 {
  margin-left: 100px !important;
}

.u-mr0 {
  margin-right: 0 !important;
}

.u-mr5 {
  margin-right: 5px !important;
}

.u-mr10 {
  margin-right: 10px !important;
}

.u-mr15 {
  margin-right: 15px !important;
}

.u-mr20 {
  margin-right: 20px !important;
}

.u-mr25 {
  margin-right: 25px !important;
}

.u-mr30 {
  margin-right: 30px !important;
}

.u-mr35 {
  margin-right: 35px !important;
}

.u-mr40 {
  margin-right: 40px !important;
}

.u-mr45 {
  margin-right: 45px !important;
}

.u-mr50 {
  margin-right: 50px !important;
}

.u-mr55 {
  margin-right: 55px !important;
}

.u-mr60 {
  margin-right: 60px !important;
}

.u-mr65 {
  margin-right: 65px !important;
}

.u-mr70 {
  margin-right: 70px !important;
}

.u-mr75 {
  margin-right: 75px !important;
}

.u-mr80 {
  margin-right: 80px !important;
}

.u-mr85 {
  margin-right: 85px !important;
}

.u-mr90 {
  margin-right: 90px !important;
}

.u-mr95 {
  margin-right: 95px !important;
}

.u-mr100 {
  margin-right: 100px !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mb25 {
  margin-bottom: 25px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-mb35 {
  margin-bottom: 35px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-mb45 {
  margin-bottom: 45px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

.u-mb55 {
  margin-bottom: 55px !important;
}

.u-mb60 {
  margin-bottom: 60px !important;
}

.u-mb65 {
  margin-bottom: 65px !important;
}

.u-mb70 {
  margin-bottom: 70px !important;
}

.u-mb75 {
  margin-bottom: 75px !important;
}

.u-mb80 {
  margin-bottom: 80px !important;
}

.u-mb85 {
  margin-bottom: 85px !important;
}

.u-mb90 {
  margin-bottom: 90px !important;
}

.u-mb95 {
  margin-bottom: 95px !important;
}

.u-mb100 {
  margin-bottom: 100px !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-w5 {
  width: 5% !important;
}

.u-w10 {
  width: 10% !important;
}

.u-w15 {
  width: 15% !important;
}

.u-w20 {
  width: 20% !important;
}

.u-w25 {
  width: 25% !important;
}

.u-w30 {
  width: 30% !important;
}

.u-w35 {
  width: 35% !important;
}

.u-w40 {
  width: 40% !important;
}

.u-w45 {
  width: 45% !important;
}

.u-w50 {
  width: 50% !important;
}

.u-w55 {
  width: 55% !important;
}

.u-w60 {
  width: 60% !important;
}

.u-w65 {
  width: 65% !important;
}

.u-w70 {
  width: 70% !important;
}

.u-w75 {
  width: 75% !important;
}

.u-w80 {
  width: 80% !important;
}

.u-w85 {
  width: 85% !important;
}

.u-w90 {
  width: 90% !important;
}

.u-w95 {
  width: 95% !important;
}

.u-w100 {
  width: 100% !important;
}